@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
    display: block !important;
}

main {
    max-width: 70vw;
    max-height: 70vh;
    margin: 15vh auto;

    section#messages {
        margin-bottom: 5em;
        height: calc(70vh - 5em);
        position: relative;

        svg {
            position: absolute;
            left: calc(50vw - 25vmin);
            width: 50vmin;
            height: 50vmin;
            margin: auto;
        }

        // Display bot typing
        &.typing {
            svg {
                animation-name: typing;
                animation-duration: 2500ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                transform-origin: 50% 50%;
                display: inline-block;
            }
            @keyframes typing {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    #composer {
        height: 5em;
    }
}

/** Conversation **/
.conversation {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    padding: 1.25em;
    width: 100%;
    max-height: 100%;

    & :not(:nth-last-child(-n+5)) {
        opacity: 0;
        transition: opacity .5s linear;
    }
}

/** Generic messages **/
.message {
    max-width: 80%;
    &.bot {
        margin-right: auto;
        text-align: left;
    }
    &.user {
        margin-left: auto;
        text-align: right;
    }
    & + .message {
        margin-top: 2em;
    }
}

/** Speech bubbles **/

.speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    padding: 1em;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 1.25em solid transparent;
        border-top-color: #00aabb;
        border-bottom: 0;
        margin-left: -1.25em;
        margin-bottom: -1.25em;
    }
}

.message {
    &.bot .speech-bubble {
        &::after {
            left: 0;
            top: 50%;
            border: 1.25em solid transparent;
            border-right-color: #00aabb;
            border-left: 0;
            border-top: 0;
            margin-top: -0.625em;
            margin-left: -1.25em;
        }
    }
    &.user .speech-bubble {
        background: #ffffff;
        &::after {
            right: 0;
            top: 50%;
            bottom: auto;
            left: auto;
            border: 1.25em solid transparent;
            border-left-color: #ffffff;
            border-right: 0;
            border-bottom: 0;
            margin-top: -0.625em;
            margin-right: -1.25em;
        }
    }
}

.message.cards {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;

    .card-wrap {
        display: inline-block;
        width: 100%;
        padding-right: 10px;
        box-sizing: content-box;

        &:last-child {
            padding-right: 0;
        }

        @include make-col(12);
        @include media-breakpoint-up(sm) {
            width: calc((100% - 1 * 10px) / 2);
        }
        @include media-breakpoint-up(lg) {
            width: calc((100% - 2 * 10px) / 3);
        }
        @include media-breakpoint-up(xl) {
            width: calc((100% - 3 * 10px) / 4);
        }
    }
}

/** Cards **/
//.card-deck, .card-group {
//    @include make-row();
//
//    .card {
//        @include make-col(12);
//
//        @include media-breakpoint-up(sm) {
//            @include make-col(6);
//        }
//        @include media-breakpoint-up(md) {
//            @include make-col(4);
//        }
//        @include media-breakpoint-up(xl) {
//            @include make-col(3);
//        }
//    }
//}
//
//
